version: "3.9"

services:
  gazebo_sim:
    container_name: gz-tutorial-container
    image: jazzy-gz-harmonic-full   # the image you built
    build:
      context: .
      dockerfile: Dockerfile

    # Privileged needed for GUI + realtime + sensors
    privileged: true

    # Keep container alive
    tty: true
    stdin_open: true

    network_mode: "host"

    # Allow GUI apps (Gazebo, RViz, gz-gui)
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
      - ROS_DOMAIN_ID=0


    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./gazebo-sim-plugins-tutorial/ros2_ws:/root/ros2_ws
      - ./gazebo-sim-plugins-tutorial/standalone_gz_sim_plugins:/root/standalone_gz_sim_plugins

